@import '../../../node_modules/foundation/scss/foundation';
@import '../../assets/public/styles/common';

.showcase-component {
    position: relative;

    .showcase-button-wrapper {
        background-color: $grey;
        border-top: thin solid $white;
        display: flex;
        flex: none;
        padding: 0.5em;
        width: 100%;

        .showcase-list-wrapper {
            display: flex;
            flex-wrap: wrap;
            min-height: 60px;
            padding-right: 60px;
            position: relative;
            width: 100%;

            .showcase-list {
                align-items: center;
                display: flex;
                flex-grow: 1;
                justify-content: center;
                padding: 0.5em;

                .showcase-button {
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    border-radius: 0;
                    color: $white;
                    display: flex;
                    font-family: $header-font-family;
                    justify-content: center;
                    padding: 0;

                    &:hover,
                    &.active {
                        color: $primary-color;
                    }
                }

                &.show-all-list {
                    align-items: unset;
                    height: 100%;
                    justify-content: unset;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 60px;
                    z-index: 1;

                    .showcase-button {
                        background-color: darken($grey, 5%);
                        color: $white;
                        width: 100%;

                        &:hover,
                        &.active {
                            background-color: $primary-color;
                        }
                    }
                }
            }

            @media #{$medium} {
                min-height: 75px;
            }
        }
    }

    .showcase-images {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .showcase-images-wrapper {
            display: none;
            height: 100%;

            .images {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-grow: 1;
                height: 100%;
                position: relative;
                width: 50%;

                .inner-showcase-image-container {
                    align-items: center;
                    background-color: rgba($grey, 0.5);
                    bottom: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    left: 0;
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 1;

                    h3 {
                        color: #FFF;
                        font-size: $h3-font-size;
                    }

                    button {
                        background-color: #FFF;
                        color: $primary-color;
                        border: none;
                    }
                }

                &:hover {
                    .inner-showcase-image-container {
                        opacity: 1;
                    }
                }

                @media #{$small} {
                    width: 33.333333%;
                }

                @media #{$medium} {
                    height: 400px;
                    width: 25%;
                }
            }

            &.show,
            &.showAll {
                display: block;
            }
        }
    }
}
