<div class="component-container showcase-component">
    <div class="showcase-button-wrapper">
        <ul class="showcase-list-wrapper">
            <li *ngFor="let show of showcases" class="showcase-list">
                <button class="showcase-button transition"
                        (click)="showcase(show)"
                        [class.active]="showCase === show && !showEverything">
                    {{show}}
                </button>
            </li>
            <li class="showcase-list show-all-list">
                <button class="showcase-button transition"
                        (click)="showcase('all')"
                        [class.active]="showEverything">
                    All
                </button>
            </li>
        </ul>
    </div>

    <div class="showcase-images">
        <div class="showcase-images-wrapper"
             [class.show]="showCase === 'Antique'"
             [class.showAll]="showEverything">
            <div class="images" *ngFor="let img of images.antique; let i = index;"
                 [style.backgroundImage]="'url('+ img +')'">
                <div class="inner-showcase-image-container transition">
                    <h3>Antique Image {{i+1}}</h3>
                    <button>
                        <i class="fa fa-expand" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="showcase-images-wrapper"
             [class.show]="showCase === 'Canada'"
             [class.showAll]="showEverything">
            <div class="images" *ngFor="let img of images.canada; let i = index;"
                 [style.backgroundImage]="'url('+ img +')'">
                <div class="inner-showcase-image-container transition">
                    <h3>Canada Image {{i+1}}</h3>
                    <button>
                        <i class="fa fa-expand" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="showcase-images-wrapper"
             [class.show]="showCase === 'Cartoon'"
             [class.showAll]="showEverything">
            <div class="images" *ngFor="let img of images.cartoon; let i = index;"
                 [style.backgroundImage]="'url('+ img +')'">
                <div class="inner-showcase-image-container transition">
                    <h3>Cartoon Image {{i+1}}</h3>
                    <button>
                        <i class="fa fa-expand" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="showcase-images-wrapper"
             [class.show]="showCase === 'Fish'"
             [class.showAll]="showEverything">
            <div class="images" *ngFor="let img of images.fish; let i = index;"
                 [style.backgroundImage]="'url('+ img +')'">
                <div class="inner-showcase-image-container transition">
                    <h3>Fish Image {{i+1}}</h3>
                    <button>
                        <i class="fa fa-expand" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="showcase-images-wrapper"
             [class.show]="showCase === 'Hockey'"
             [class.showAll]="showEverything">
            <div class="images" *ngFor="let img of images.hockey; let i = index;"
                 [style.backgroundImage]="'url('+ img +')'">
                <div class="inner-showcase-image-container transition">
                    <h3>Hockey Image {{i+1}}</h3>
                    <button>
                        <i class="fa fa-expand" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="showcase-images-wrapper"
             [class.show]="showCase === 'Locations'"
             [class.showAll]="showEverything">
            <div class="images" *ngFor="let img of images.locations; let i = index;"
                 [style.backgroundImage]="'url('+ img +')'">
                <div class="inner-showcase-image-container transition">
                    <h3>Location Image {{i+1}}</h3>
                    <button>
                        <i class="fa fa-expand" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="showcase-images-wrapper"
             [class.show]="showCase === 'Pride'"
             [class.showAll]="showEverything">
            <div class="images" *ngFor="let img of images.pride; let i = index;"
                 [style.backgroundImage]="'url('+ img +')'">
                <div class="inner-showcase-image-container transition">
                    <h3>Pride Image {{i+1}}</h3>
                    <button>
                        <i class="fa fa-expand" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="showcase-images-wrapper"
             [class.show]="showCase === 'Wilderness'"
             [class.showAll]="showEverything">
            <div class="images" *ngFor="let img of images.wilderness; let i = index;"
                 [style.backgroundImage]="'url('+ img +')'">
                <div class="inner-showcase-image-container transition">
                    <h3>Wilderness Image {{i+1}}</h3>
                    <button>
                        <i class="fa fa-expand" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
