<div class="component-container showcase-component">
    <div class="showcase-button-wrapper">
        <ul class="showcase-list-wrapper">
            <li *ngFor="let show of showcases" class="showcase-list">
                <button class="showcase-button" (click)="showcase(show)">
                    {{show}}
                </button>
            </li>
            <li class="showcase-list show-all-list">
                <button class="showcase-button" (click)="showcase('all')">All</button>
            </li>
        </ul>
    </div>

    <div class="images">
        <div [class.show]="showCase === 'Antique'" [class.showAll]="showEverything">
            <ul>
                <li *ngFor="let img of images.antique; let i = index">
                    <img src="{{img}}" alt="Antique Inspired Paddle - {{i+1}}"/>
                </li>
            </ul>
        </div>

        <div [class.show]="showCase === 'Canada'" [class.showAll]="showEverything">
            <ul>
                <li *ngFor="let img of images.canada; let i = index">
                    <img src="{{img}}" alt="Canada Inspired Paddle - {{i+1}}"/>
                </li>
            </ul>
        </div>

        <div [class.show]="showCase === 'Cartoon'" [class.showAll]="showEverything">
            <ul>
                <li *ngFor="let img of images.cartoon; let i = index">
                    <img src="{{img}}" alt="Cartoon Inspired Paddle - {{i+1}}"/>
                </li>
            </ul>
        </div>

        <div [class.show]="showCase === 'Fish'" [class.showAll]="showEverything">
            <ul>
                <li *ngFor="let img of images.fish; let i = index">
                    <img src="{{img}}" alt="Fish Inspired Paddle - {{i+1}}"/>
                </li>
            </ul>
        </div>

        <div [class.show]="showCase === 'Hockey'" [class.showAll]="showEverything">
            <ul>
                <li *ngFor="let img of images.hockey; let i = index">
                    <img src="{{img}}" alt="Hockey Inspired Paddle - {{i+1}}"/>
                </li>
            </ul>
        </div>

        <div [class.show]="showCase === 'Locations'" [class.showAll]="showEverything">
            <ul>
                <li *ngFor="let img of images.locations; let i = index">
                    <img src="{{img}}" alt="Locations Inspired Paddle - {{i+1}}"/>
                </li>
            </ul>
        </div>

        <div [class.show]="showCase === 'Pride'" [class.showAll]="showEverything">
            <ul>
                <li *ngFor="let img of images.pride; let i = index">
                    <img src="{{img}}" alt="Pride Inspired Paddle - {{i+1}}"/>
                </li>
            </ul>
        </div>

        <div [class.show]="showCase === 'Wilderness'" [class.showAll]="showEverything">
            <ul>
                <li *ngFor="let img of images.wilderness; let i = index">
                    <img src="{{img}}" alt="Wilderness Inspired Paddle - {{i+1}}"/>
                </li>
            </ul>
        </div>
    </div>
</div>
