@import '../../../node_modules/foundation/scss/foundation';
@import '../../assets/public/styles/common';

.contact-component {
    .button {
        pointer-events: none;
        opacity: 0.5;

        &.is-valid {
            pointer-events: unset;
            opacity: 1;
        }
    }
}