header {
    background-color: silver;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
        height: 100px;
    }

    nav {
        ul {
            li {

            }
        }
    }
}