<header class="header">
    <div class="logo-container">
        <img src="{{logo}}" alt="Logo"/>
    </div>

    <div class="header-navigation">
        <div class="mobile-nav-container">
            <button class="button">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
        </div>
        <nav class="navigation">
            <ul>
                <li>
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a routerLink="/showcase" routerLinkActive="active">Showcase</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div>
    <h3>Hello There!</h3>
    <p>My Name is Stephane Beaubien Mutherfucker</p>
</div>

<router-outlet></router-outlet>