@import '../assets/public/styles/variables';

.header {
    background-color: $lightBlue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;

    .logo-container {
        align-items: center;
        background-color: #FFF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        padding: 5px;

        img {
            border-radius: 50%;
            display: block;
            height: 100px;
            max-height: 100px;
        }
    }

    .header-navigation {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}