@import 'assets/public/styles/variables';

body,
app-root {
    background-color: $darkWhite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
}

*:focus,
*:hover {
    outline: none !important;
}

.transition {
    transition: all 0.3s ease;
}