/** Variables */
@import '../node_modules/foundation/scss/foundation';

body,
app-root {
    background-color: $body-bg;
    display: flex;
    flex-direction: column;
    font-family: $body-font-family;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font-family;
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
    line-height: normal;
}

*:focus,
*:hover {
    outline: none !important;
}

.transition {
    transition: all 0.3s ease;
}