@import '../../assets/public/styles/common';

.home-component {
    .image-container {
        background-image: url('../../assets/public/images/back_one.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 90px);
        width: 100%;
    }
}